/* header */
.header_bg{
    background-color: #2C3E50;
}

header div i{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

header div h4{
    margin: 0;
}

header div ul li{
    list-style-type: none;
}

header div ul{
    margin: 0;
}

/*  */
/* main */
/*  */
.main_bg{
    background-color: #1abc9c;
}

main section figure img{
    width: 250px;
}


main section h2{
    font-size: clamp(2.5rem, 5vw, 4rem);
}

main section .row div img{
    width: 100%;
}

main section h3{
    font-size: clamp(1.5rem, 5vw, 3.5rem);
}

main section .download{
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}